rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function ownsDoc(uid) {
      return isAuthenticated() && request.auth.uid == uid;
    }
    function userData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    match /users/{uid} {
      allow read, update: if ownsDoc(uid);
    }
    match /users/{uid}/links/{document=**} {
      allow read, write: if ownsDoc(uid);
    }
    match /users/{uid}/folders/{document=**} {
      allow read, update, delete: if ownsDoc(uid);
      allow create: if ownsDoc(uid) && (!userData().keys().hasAny(['totalFolders']) || userData().totalFolders < 10);
    }
  }
}