rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function ownsDoc(uid) {
      return isAuthenticated() && request.auth.uid == uid;
    }

    match /users/{uid}/{document=**} {
      allow read, write: if ownsDoc(uid);
    }
  }
}